.container {
    display: flex;
    flex-direction: column;
}

.label {
    padding-bottom: 4px;
    .required &::before {
        padding-right: 4px;
        content: '*';
        color: red;
    }
}

.input {
    padding: 6px;
    border: 1px solid lightgray;
    &::placeholder {
        color: lightgray;
    }
}
