.container {
    padding: 9px 12px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms;
    &:hover,
    &:focus {
        transform: scale(1.05);
    }
}

.primary {
    color: white;
    background-color: red;
}

.secondary {
    color: blue;
    border: 1px dashed currentColor;
}
